# Dependencies
node_modules/
/.pnp
.pnp.js
yarn.lock
package-lock.json

# Testing
/coverage
*.lcov

# Production/Build
/build
/dist
/.next
/out
/*.egg-info

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-workspace
*.sublime-project

# Cache
.cache/
.npm
.eslintcache
.stylelintcache

# Misc
.DS_Store
Thumbs.db
*.pem
.vercel
.netlify

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Optional
.docker/
/tmp
/temp